* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.search {
  display: flex;
  align-items: center; }
  .search__icon {
    margin: 0 1rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer; }
  .search__input {
    background-color: gray;
    border: none;
    border-radius: 100px;
    height: 3rem;
    text-align: center;
    cursor: pointer; }

.user-main {
  display: flex;
  align-self: stretch; }
  .user-main__icon-box {
    display: flex;
    padding: 0 4rem;
    cursor: pointer;
    height: 100%;
    align-items: center; }
    .user-main__icon-box:hover {
      background-color: #3E4042;
      border: 2px solid;
      border-radius: 10px; }
  .user-main__icon {
    width: 3rem;
    height: 3rem;
    position: relative; }

.user-nav {
  display: flex;
  align-self: stretch; }
  .user-nav__icon-box {
    display: flex;
    align-items: center; }
    .user-nav__icon-box:hover {
      background-color: #3E4042; }
  .user-nav__icon {
    margin-right: 2rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer; }

.container {
  background-color: #18191A; }

.header {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center; }
