*{
    margin: 0;
    padding: 0;
}


$bp-laptopL:87.5em; //1400px
$bp-laptopM:85.625em; //13071
$bp-largest:77.1875em; //1235px
$bp-1159:72.4375em; //1159px
$bp-medium:56.25em; //900px
$bp-small:37.5em; //600px
$bp-smallest:31.25em; //500px


*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    
}
   
