
.search{
 display: flex;
align-items: center;

    &__icon{
        margin: 0 1rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50px;
        cursor: pointer;
        fill: #1877F2;
    }

    &__input{
        background-color: aliceblue;
        border: none;
        border-radius: 100px;
        height: 3rem;
        width: 20rem;
        text-align: center;
        cursor: pointer;
    }
}

.invisible{
    margin-left: 1rem;
    font-size: 1.3rem;
    color: aliceblue;
}

.user-main{
    display: flex;
    align-self: stretch;

    &__icon-box{
        display: flex;
        justify-content: center;
       cursor: pointer;
       width: 13rem;
       align-items: center;
        margin-right: 10rem;

       &:hover{
        background-color: #828282;
        border-radius: 10px;

       }
       }

    &__icon{
        width: 4rem;
        height: 4rem;
        fill: #1877F2;
    
    }
}


.user-nav{
    display: flex;
    align-self: stretch;
    align-items: center;

    &__icon-box{

    &:hover{
        background-color:#3E4042;

       }
    }

    &__icon{
        display: flex;
    
        margin-right: 2rem;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        fill: rgb(231, 230, 230);


    }
}

.sidebar1{


font-size: 1.5rem;
display: flex;
flex-direction: column;
justify-content: space-between;
flex:0 0 30%;

    &__item{
     display: flex;
    list-style: none;
    margin-bottom: 1rem;
    justify-content: center;
    

    }


    &__link{
    text-decoration: none;
    color: aliceblue;

    &:hover{
        background-color: #828282;
    
        border-radius: 10px;
    }

    }

 &__icon{
    width: 3rem;
    height: 3rem;
    fill: #1877F2;
 }


 &__legal{
    color: gray
 }
}

.overview{
background-color: red;
flex: 0 0 40%;
}

.menu{
    display: flex;
   


    &__navigation{
        
    }

    &__icon{
        height: 3rem;
        width: 3rem;

    }
}


.sidebar2{
background-color: greenyellow;
display: flex;
margin-left: auto;
width: 300px;

&__icon{
    
}
}



