
.search{
 display: flex;
align-items: center;

    &__icon{
        margin: 0 1rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50px;
        cursor: pointer;
        fill: #1877F2;
    }

    &__input{
        background-color: gray;
        border: none;
        border-radius: 100px;
        height: 3rem;
        width: 20rem;
        text-align: center;
        cursor: pointer;
    }
}

.invisible{
    margin-left: 1rem;
    font-size: 1.3rem;
    color: aliceblue;
}

.user-main{
    display: flex;
    align-self: stretch;

    &__icon-box{
        display: flex;
        padding: 0 4rem;
       cursor: pointer;
       height: 100%;
       align-items: center;


       &:hover{
        border: 2px solid  gray;
        border-radius: 10px;

       }
       }

    &__icon{
        width: 3rem;
        height: 3rem;
        fill: gray;
    
    }
}


.user-nav{
    display: flex;
    align-self: stretch;
    align-items: center;

    &__icon-box{

    &:hover{
        background-color:#3E4042;

       }
    }

    &__icon{
        display: flex;
    
        margin-right: 2rem;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        fill: rgb(231, 230, 230);


    }
}

.sidebar1{

max-width: 400px;
font-size: 1.5rem;
display: flex;
flex-direction: column;
justify-content: space-between;

    &__item{
     display: flex;
    list-style: none;
    margin-bottom: 1rem;
    justify-content: center;
    transition: all .1s;

   

    &:hover{
        border: 2px solid gray;
        border-radius: 20px;
    }
    }


    &__link{
    text-decoration: none;
    color: aliceblue;

    }

 &__icon{
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
    fill: #1877F2;
 }


 &__legal{
    color: gray
 }
}

.overview{
background-color: red;
width: 30rem;
}

.sidebar2{
background-color: greenyellow;

&__icon{
    
}
}
