///background-color:#18191A//
.container{
    background-color: #3E4042;
}

.header{
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    background-color: #3E4042;

}

.content{
    height: 95vh;
    padding: 2.5rem 2rem;
    display: flex;
    background-color: #1c1e21;
}